@import url(https://fonts.googleapis.com/css2?family=Nerko+One&display=swap);

body{
    background-image: url(resource/background.webp);
}

.container{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    background-color: rgb(232, 232, 232);
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    padding: 30px;
    border-radius: 5%;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px 1px #8e8181;
    color: #291200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    text-align: left;
    font-family: Nerko One;
}

footer{
    display: flex;
    gap: 400px;
}

footer a{
    text-decoration: none;
    color: rgb(85, 112, 136);;
}
